<ion-header class="header">
  <div class="header__holder">
    <ion-menu-button color="primary"></ion-menu-button>
    <p class="header__title">
      Seu score {{userInfo.score}}
    </p>
    <ion-icon class="header__icon" name="search" color="primary"></ion-icon>
  </div>
</ion-header>

<ion-content>
  <div class="hero">
    <img src="./assets/img/home-back.png" alt="">
  </div>

  <!-- Seção dos grupos -->
  <section class="section">
    <div class="section__title">
      <ion-icon class="section__title__icon" name="people"></ion-icon>
      <p class="section__title__text">Meus Grupos ({{myGroups.length}})</p>
    </div>
    <ion-slides class="groups__slides" perView="1.5">
      <ion-slide class="groups__slides__slide" *ngFor="let group of myGroups">
        <div class="groups__slides__slide__header">
          <div class="groups__slides__slide__header__text">
            <div class="groups__slides__slide__header__text__title">{{group.name}}</div>
            <div class="groups__slides__slide__header__text__subtitle">Score do grupo <span class="bold">{{group.score}}</span>
            </div>
          </div>
          <div class="groups__slides__slide__header__pictures">
            <img class="groups__slides__slide__header__pictures__image"
              src="https://images.unsplash.com/photo-1552072805-2a9039d00e57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
              alt="">
            <img class="groups__slides__slide__header__pictures__image"
              src="https://images.unsplash.com/photo-1552072805-2a9039d00e57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
              alt="">
          </div>
        </div>
        <div class="groups__slides__slide__info">
          <div class="groups__slides__slide__info__group">
            <div class="groups__slides__slide__info__group__title">Emprestimos</div>
            <div class="groups__slides__slide__info__group__value">{{group.loans ? group.loans : '0'}}</div>
          </div>
          <div class="groups__slides__slide__info__group">
            <div class="groups__slides__slide__info__group__title">Media Economia</div>
            <div class="groups__slides__slide__info__group__value">180,00</div>
          </div>
          <div class="groups__slides__slide__info__group">
            <div class="groups__slides__slide__info__group__title">Média de juros</div>
            <div class="groups__slides__slide__info__group__value">0,5% a.m</div>
          </div>
        </div>
        <div class="groups__slides__slide__footer">
          <div class="groups__slides__slide__footer__title">Ver Grupo</div>
          <ion-icon class="groups__slides__slide__footer__icon" name="arrow-round-forward"></ion-icon>
        </div>
      </ion-slide>
    </ion-slides>
  </section>


  <!-- Seção dos contratos -->
  <section class="section">
    <div class="section__title">
      <ion-icon class="section__title__icon" name="document"></ion-icon>
      <p class="section__title__text">Meus Contratos ({{myLoans.length}})</p>
    </div>
    <ion-slides class="groups__slides" perView="1.5">
      <ion-slide class="groups__slides__slide groups__slides__slide--small" *ngFor="let loan of myLoans">
        <div class="groups__slides__slide__header">
          <div class="groups__slides__slide__header__text groups__slides__slide__header__text--center">
            <div class="groups__slides__slide__header__text__title">R$ {{loan.value}}</div>
            <div class="groups__slides__slide__header__text__subtitle">Mensalidade <span class="bold">{{transformToMoney(loan.finalValue / loan.months) }} </span>
            </div>
          </div>
        </div>
        <div class="groups__slides__slide__info">
          <div class="groups__slides__slide__info__group">
            <div class="groups__slides__slide__info__group__title">Parcelas</div>
            <div class="groups__slides__slide__info__group__value">{{loan.months}}</div>
          </div>
          <div class="groups__slides__slide__info__group">
            <div class="groups__slides__slide__info__group__title">Juros</div>
            <div class="groups__slides__slide__info__group__value">{{loan.tax}}% a.m</div>
          </div>
        </div>
        <div class="groups__slides__slide__footer"> 
          <div class="groups__slides__slide__footer__title">Ver Contrato</div>
          <ion-icon class="groups__slides__slide__footer__icon" name="arrow-round-forward"></ion-icon>
        </div>
      </ion-slide>
    </ion-slides>
  </section>

</ion-content>